#{include 'Application/top_head.html'/} 
#{include 'Application/top_nav.html'/}
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>CVES Portal</h1>
        <p>This is the User Portal for Clean Vehicle Evaluation System(CVES), the aim of CVES is to evaluate user's driving behavior and determine the best type of clean vehicle for user</p>
        <p><img src="/public/images/greencar.jpg" width="304" height="228" alt="GreenCar"> </p>
      </div>

      <!-- Example row of columns -->
<!--       <div class="row">
        <div class="span4">
          <h2>Heading</h2>
          <p>TBD</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Heading</h2>
          <p>TBD</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Heading</h2>
          <p>TBD</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div> -->

      <hr>

#{include 'Application/footer.html'/} 
