#{include 'Application/top_head.html'/} 
#{include 'Application/top_nav.html'/}
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>CDAAS Automan</h1>
        <p>This is the prototyping of CDAAS Portal, the hub for main CDAAS components and services. Use wizard below to trigger jobs on Product CI and Stack CI.</p>
        <p><a href="/regression/wizard" class="btn btn-primary btn-large">Run Wizard &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
<!--       <div class="row">
        <div class="span4">
          <h2>Heading</h2>
          <p>TBD</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Heading</h2>
          <p>TBD</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Heading</h2>
          <p>TBD</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div> -->

      <hr>

#{include 'Application/footer.html'/} 
